## import data

In [25]:
import pandas as pd 
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

df = pd.read_csv("hasil_textProcessing.csv")
df = df.drop("Unnamed: 0", axis=1)
df.head()

,judul,abstrak
0,PENGARUH RELATIONSHIP MARKETING TERHADAP LOYAL...,tuju teliti pengaruh variabel relationship mar...
1,PENGARUH SELF EFFICACY TERHADAP PRESTASI AKADE...,tuju teliti pengaruh variabel self efficacy ma...
2,ANALISIS PERSEPSI BRAND ASSOCIATION MENURUT PE...,tuju teliti persepsi brand association langgan...
3,Pengukuran Website Quality Pada Situs Sistem A...,aplikasi nyata manfaat teknologi informasi kom...
4,PENGARUH STRUKTUR MODAL DAN LIKUIDITAS TERHADA...,dekat teliti teliti dekat kuantitatif populasi...

## isi_berita_final to list

In [26]:
list_isi_berita = []
for i in range(len(df.iloc[:, -1])):
    list_isi_berita.append(df.iloc[i, -1])
# print(list_isi_berita)

## tf-idf menggunakan TfidfTransformer

In [27]:
count_vectorizer = CountVectorizer(min_df=1)
count_vectorizer.fit_transform(list_isi_berita)

<54x985 sparse matrix of type '<class 'numpy.int64'>'
	with 2911 stored elements in Compressed Sparse Row format>

In [28]:
#get fitur
fitur = count_vectorizer.get_feature_names_out()

## term frequency

In [29]:
# term frequency dengan tfidftransformer
tf = count_vectorizer.fit_transform(list_isi_berita).toarray()
df_tf =pd.DataFrame(data=tf,index=list(range(1, len(tf[:,1])+1, )),columns=[fitur])
df_tf.head(8)

,abidin,abstrak,abtrak,accidental,acer,action,adaro,adira,adjusted,administrasi,...,while,wilayah,wildan,windows,wispandono,with,xl,yakin,yamaha,yustina
1,0,0,0,0,0,0,0,3,0,0,...,0,2,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# TF-IDF

In [30]:
#tfidf dengan tfidf transformer
tfidf_transform = TfidfTransformer(use_idf=True,norm='l2',smooth_idf=True)
tfidf=tfidf_transform.fit_transform(count_vectorizer.fit_transform(list_isi_berita)).toarray()
df_tfidf =pd.DataFrame(data=tfidf,index=list(range(1, len(tfidf[:,1])+1, )),columns=[fitur])
df_tfidf.head(8)

,abidin,abstrak,abtrak,accidental,acer,action,adaro,adira,adjusted,administrasi,...,while,wilayah,wildan,windows,wispandono,with,xl,yakin,yamaha,yustina
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.241135,0.0,0.000000,...,0.0,0.160756,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.186016,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.021070,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.046185,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
df_tfidf.head()

,abidin,abstrak,abtrak,accidental,acer,action,adaro,adira,adjusted,administrasi,...,while,wilayah,wildan,windows,wispandono,with,xl,yakin,yamaha,yustina
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.241135,0.0,0.000000,...,0.0,0.160756,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.186016,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
df_tfidf.to_csv('tf-idf.csv')